/*
beige : #FFF8E5
yellow : #FFB344
teal : #00A19D
red : #E05D5D
*/

h2,h3,.bigButtons,.content{
  font-weight: bold;
  color: #E05D5D;
}
#home-button{
  margin: 10px;
  width: 3%;
  height: 15%;
  border: 0px;
  background-color: inherit;
  background-image: url("home-icon.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 2px;
  top: 2px;
}

body{
  background-image: url('bgimg1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Garamond;
  background-color: #FFF8E5;
}

.qpages{
  background-image: url('bgimg3.jpg');
}

.main-container{
  font-size: 110%;
  background-color: inherit;
  opacity: 0.9;
}

.header{
  font-size: 140%;
  text-align: center;
  color: white;
  background-color: #FFB344;
}
#page-title{
  color: white;
  position: relative;
  padding: 5px 5px;
  width: 100%;
}

.slogan{
  position: relative;
  font-style: italic;
  bottom:30px;
}
.Account{
  position: absolute;
  left:87%;
  text-align: right;
}
.buttons{
  background-color: #E05D5D;
  color: White;
  border-radius: 15px;
  border-color: inherit;
  text-align: center;
  padding: 7px;
}
hr{
  margin-top: 2%;
  border-style: dotted none none;
  border-color: #E05D5D;
  border-width: 10px;
  width: 12%;
}

.block-buttons-section{
  position: relative;
  text-align: center;
  margin: 3% 0%;
}
.bigButtons{
  background-color: #E05D5D;
  background-image: url("button-bg.png");
  background-repeat: no-repeat;
  background-position: center;

  color: white;
  margin: 0% 3% 0%;
  padding: 5% 5% 5%;
  font-family: Garamond;
  font-size: 120%;
  border-radius: 25%;
}

.Forms{
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.links{
  font-size: 110%;
  padding: 1%;
  color: #E05D5D;
}

#page-footer h3,p{
  margin:0px;
  padding:0px;
}

.footer{
  position: relative;
  width: 100%;
  padding: 5px;
  bottom: 0;
  background-color: #FFB344;
  color: white;
}
#aboutus{
  text-align: left;
}
#Quicklinks{
  text-align: center;
}

table{
  border: 1px solid;
  border-radius: 10px;
}
